<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
        }
    </style>
</head>

<body>
    <h1>This is the About Page</h1>
    <p>This is a very basic about page.</p>
    <p>Server is running successfully </p>
    <a href="{{ url_for('home') }}">Go back to Home Page</a>
</body>

</html>